html {
    scroll-behavior: smooth; 
  }
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0; 
    padding: 0;
  }

  *{box-sizing: border-box;}

   .bayan-wrap{
    padding: 0.1rem 5rem;
    margin: 0.2rem auto;
    min-height: 100vh;
    max-width: 90rem;
    background-color: #f6f6ed;   
    box-shadow: 0 0 0.8rem rgb(185, 185, 185);
  }

  .bayan-body {
    color: #1e5cd1;  
  } 
  
  .bayan-title{
    font-size: 2rem;
  }
  .mem-item *{
    /* transition: max-height 0.35s cubic-bezier(.41, .15, .38, 1),transform 0.2s linear; */
    transition: max-height 0.35s ease-out,max-width 0.35s ease-out, transform 0.2s linear;
  }

  .mem-icon{
    visibility: hidden;
  }
  
  .mem-img{
    display: block;
    max-width:0rem; 
    max-height:0rem; 
    margin: 0.8rem auto;
  }
  .mem-input{
   height: 0;
   width: 0;
   visibility: hidden;
  }
  .mem-title:active {
    color: #2083df;
  } 
  .mem-title{
    display: block;
    border-top: 0.1rem solid #ddd;

    font-size: 1.6rem;
    font-weight: 700;
  }

  .mem-text{
    margin-top: 0.8rem;
    line-height: 1.8rem;
    text-align: center;

    display: flex;
    justify-content: space-between; 
  }

  .mem-input:checked ~ .mem-img{
    margin: 0.8rem auto; 
    width: 100%;
    max-width: 20rem; 
    max-height: 20rem; 
  }

  .mem-input:checked ~ .mem-text{
    color: #555555;
  }
  .mem-input:checked + p .mem-icon{
    transform: rotate(45deg);
    color: #555555;
  }
 
   .mem-title:active img {
    opacity: 0.7;
  }
 

  @media (hover: hover) {
    .bayan-body * {
      cursor: pointer;
    }
    .mem-title:hover .mem-icon{
      visibility: visible ;
      transform: rotate(45deg);
    }
    .bayan-body:hover {
      color: #555555;
    } 
     .bayan-body:hover .mem-icon{
      visibility: visible;
    }
      .mem-title:hover .mem-img{
      margin: 0.8rem auto; 
      width: 100%;
      max-width: 20rem; 
      max-height: 20rem; 
    }
  } 
  @media (hover: none){
    .mem-icon{
      visibility: visible;
    }
    @media (max-width: 1180px){
      .bayan-title{
        font-size: 1.8rem;
      }
      .mem-input:checked ~ .mem-img{
        margin: 0.6rem auto; 
        width: 100%;
        max-width: 15rem; 
        max-height: 15rem; 
      }
      .mem-title{
        font-size: 1.5rem;
      }

    }

    @media (max-width: 568px){
      .mem-input:checked ~ .mem-img{
        margin: 0.5rem auto; 
        width: 100%;
        max-width: 10rem; 
        max-height: 10rem; 
      }
      .bayan-title{
        font-size: 1.6rem;
      }
      .mem-title{
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }
  